cint/esercitazione/nifi/AdditionalFlows.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>8f68778b-0180-1000-fede-e3551b759205</groupId>
    <name>AdditionalFlows</name>
    <snippet>
        <processGroups>
            <id>459ddb5f-5933-31a4-0000-000000000000</id>
            <parentGroupId>5977309e-e73e-3343-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>94c1f065-af44-3180-0000-000000000000</id>
                    <parentGroupId>459ddb5f-5933-31a4-0000-000000000000</parentGroupId>
                    <versionedComponentId>b3089454-5219-3362-8fe1-71892653d149</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>459ddb5f-5933-31a4-0000-000000000000</groupId>
                        <id>1d5a09b2-c1c0-3dd1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4bf36af5-988d-3752-913c-8293a376dafa</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>459ddb5f-5933-31a4-0000-000000000000</groupId>
                        <id>eb559378-aa17-3590-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4cee8159-e928-38bd-8503-d6a4f0b0bdbd</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a97cd1fe-5e00-315c-0000-000000000000</id>
                    <parentGroupId>459ddb5f-5933-31a4-0000-000000000000</parentGroupId>
                    <versionedComponentId>ae0ceabb-b50b-3a20-98fa-bc14c0f2eb9e</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>459ddb5f-5933-31a4-0000-000000000000</groupId>
                        <id>11fdef9e-d1f2-31cc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>00354ac9-12b7-3398-8106-5f644161a677</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>459ddb5f-5933-31a4-0000-000000000000</groupId>
                        <id>1d5a09b2-c1c0-3dd1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4bf36af5-988d-3752-913c-8293a376dafa</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d750d405-1fda-3c4d-0000-000000000000</id>
                    <parentGroupId>459ddb5f-5933-31a4-0000-000000000000</parentGroupId>
                    <versionedComponentId>9bc48b1e-ee78-3aa2-a763-e9f452cb8acf</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>459ddb5f-5933-31a4-0000-000000000000</groupId>
                        <id>eb559378-aa17-3590-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4cee8159-e928-38bd-8503-d6a4f0b0bdbd</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>459ddb5f-5933-31a4-0000-000000000000</groupId>
                        <id>cba0edb4-1165-3b1a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4d040184-17c3-3416-9668-1f71a157b955</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>11fdef9e-d1f2-31cc-0000-000000000000</id>
                    <parentGroupId>459ddb5f-5933-31a4-0000-000000000000</parentGroupId>
                    <position>
                        <x>440.0</x>
                        <y>704.0</y>
                    </position>
                    <versionedComponentId>00354ac9-12b7-3398-8106-5f644161a677</versionedComponentId>
                    <bundle>
                        <artifact>nifi-elasticsearch-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>elasticsearch-http-url</key>
<value>
    <name>elasticsearch-http-url</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-connect-timeout</key>
<value>
    <name>elasticsearch-http-connect-timeout</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-response-timeout</key>
<value>
    <name>elasticsearch-http-response-timeout</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-host</key>
<value>
    <name>elasticsearch-http-proxy-host</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-port</key>
<value>
    <name>elasticsearch-http-proxy-port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-username</key>
<value>
    <name>proxy-username</name>
</value>
                            </entry>
                            <entry>
<key>proxy-password</key>
<value>
    <name>proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>put-es-id-attr</key>
<value>
    <name>put-es-id-attr</name>
</value>
                            </entry>
                            <entry>
<key>put-es-index</key>
<value>
    <name>put-es-index</name>
</value>
                            </entry>
                            <entry>
<key>put-es-type</key>
<value>
    <name>put-es-type</name>
</value>
                            </entry>
                            <entry>
<key>put-es-batch-size</key>
<value>
    <name>put-es-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>put-es-index-op</key>
<value>
    <name>put-es-index-op</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>elasticsearch-http-url</key>
<value>http://es-container:9200</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-connect-timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-response-timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-host</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-port</key>
                            </entry>
                            <entry>
<key>proxy-username</key>
                            </entry>
                            <entry>
<key>proxy-password</key>
                            </entry>
                            <entry>
<key>put-es-id-attr</key>
<value>IDRecord</value>
                            </entry>
                            <entry>
<key>put-es-index</key>
<value>earthquakes</value>
                            </entry>
                            <entry>
<key>put-es-type</key>
<value>_doc</value>
                            </entry>
                            <entry>
<key>put-es-batch-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>put-es-index-op</key>
<value>index</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutElasticsearchHttp</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp</type>
                </processors>
                <processors>
                    <id>1d5a09b2-c1c0-3dd1-0000-000000000000</id>
                    <parentGroupId>459ddb5f-5933-31a4-0000-000000000000</parentGroupId>
                    <position>
                        <x>440.0</x>
                        <y>488.0</y>
                    </position>
                    <versionedComponentId>4bf36af5-988d-3752-913c-8293a376dafa</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>IDRecord</key>
<value>
    <name>IDRecord</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>IDRecord</key>
<value>$.ID</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>cba0edb4-1165-3b1a-0000-000000000000</id>
                    <parentGroupId>459ddb5f-5933-31a4-0000-000000000000</parentGroupId>
                    <position>
                        <x>456.0</x>
                        <y>40.0</y>
                    </position>
                    <versionedComponentId>4d040184-17c3-3416-9668-1f71a157b955</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Command</key>
<value>
    <name>Command</name>
</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Batch Duration</key>
<value>
    <name>Batch Duration</name>
</value>
                            </entry>
                            <entry>
<key>Redirect Error Stream</key>
<value>
    <name>Redirect Error Stream</name>
</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Command</key>
<value>python3</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>/home/cint/esercitazione/elastic/earthquakes/import_earthquakes.py /home/cint/esercitazione/elastic/earthquakes/database-earthquakes.csv</value>
                            </entry>
                            <entry>
<key>Batch Duration</key>
                            </entry>
                            <entry>
<key>Redirect Error Stream</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value> </value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>10000000000000 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteProcess</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteProcess</type>
                </processors>
                <processors>
                    <id>eb559378-aa17-3590-0000-000000000000</id>
                    <parentGroupId>459ddb5f-5933-31a4-0000-000000000000</parentGroupId>
                    <position>
                        <x>448.0</x>
                        <y>272.0</y>
                    </position>
                    <versionedComponentId>4cee8159-e928-38bd-8503-d6a4f0b0bdbd</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Byte Sequence Format</key>
<value>
    <name>Byte Sequence Format</name>
</value>
                            </entry>
                            <entry>
<key>Byte Sequence</key>
<value>
    <name>Byte Sequence</name>
</value>
                            </entry>
                            <entry>
<key>Keep Byte Sequence</key>
<value>
    <name>Keep Byte Sequence</name>
</value>
                            </entry>
                            <entry>
<key>Byte Sequence Location</key>
<value>
    <name>Byte Sequence Location</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Byte Sequence Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Byte Sequence</key>
<value>
</value>
                            </entry>
                            <entry>
<key>Keep Byte Sequence</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Byte Sequence Location</key>
<value>Trailing</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitContent</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitContent</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>EarthquakesESIngester</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>62c25cd9-af46-3ff4-0000-000000000000</id>
            <parentGroupId>5977309e-e73e-3343-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>240.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>08d9eb26-93f6-3655-0000-000000000000</id>
                    <parentGroupId>62c25cd9-af46-3ff4-0000-000000000000</parentGroupId>
                    <versionedComponentId>5b37909c-4779-3222-82c8-4d63aa5f85c7</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>62c25cd9-af46-3ff4-0000-000000000000</groupId>
                        <id>874e624c-4ceb-3127-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c6177d7a-144c-31bc-b126-8e009ab0c85d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>60ba8bf2-e0b6-3d3f-0000-000000000000</groupId>
                        <id>7af60fcb-0d5d-372d-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>62c1bcc7-79b4-3f2b-9525-968bbd1b2f70</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1bcc2e50-8a3d-3136-0000-000000000000</id>
                    <parentGroupId>62c25cd9-af46-3ff4-0000-000000000000</parentGroupId>
                    <versionedComponentId>e9f17d44-47bd-3521-ab09-5064b406547a</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>904.0</x>
                        <y>312.0</y>
                    </bends>
                    <destination>
                        <groupId>60ba8bf2-e0b6-3d3f-0000-000000000000</groupId>
                        <id>0292f195-670d-3b7d-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>0456ebd6-cd72-3efe-a9ea-ac34628372a5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>cb50ddf8-b656-37e2-0000-000000000000</groupId>
                        <id>efa05eda-f144-33f4-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>b087216d-80c8-3407-98fd-c5029867b3a0</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>66c4bfc0-7ff2-3408-0000-000000000000</id>
                    <parentGroupId>62c25cd9-af46-3ff4-0000-000000000000</parentGroupId>
                    <versionedComponentId>e987e19c-359d-30f0-bdb3-85da9e464e0b</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>368.0</x>
                        <y>312.0</y>
                    </bends>
                    <destination>
                        <groupId>60ba8bf2-e0b6-3d3f-0000-000000000000</groupId>
                        <id>0292f195-670d-3b7d-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>0456ebd6-cd72-3efe-a9ea-ac34628372a5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>cb50ddf8-b656-37e2-0000-000000000000</groupId>
                        <id>8894108f-e8b8-3e1b-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>8cd7ff38-c135-3ad4-9fdb-ef112d241f56</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6f35492a-3310-365d-0000-000000000000</id>
                    <parentGroupId>62c25cd9-af46-3ff4-0000-000000000000</parentGroupId>
                    <versionedComponentId>6be1a8e3-8fce-343b-b1e9-d5f6fb4e8a9e</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>60ba8bf2-e0b6-3d3f-0000-000000000000</groupId>
                        <id>0292f195-670d-3b7d-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>0456ebd6-cd72-3efe-a9ea-ac34628372a5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>cb50ddf8-b656-37e2-0000-000000000000</groupId>
                        <id>8894108f-e8b8-3e1b-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>8cd7ff38-c135-3ad4-9fdb-ef112d241f56</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>954e04ae-f74c-3dd9-0000-000000000000</id>
                    <parentGroupId>62c25cd9-af46-3ff4-0000-000000000000</parentGroupId>
                    <versionedComponentId>b68ec4a5-3241-3617-b345-bb2644c98869</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cb50ddf8-b656-37e2-0000-000000000000</groupId>
                        <id>ba7237e1-061e-31fd-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>05f9f85e-2f16-3021-8d29-c3cfaa2d9a87</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>147b62e3-b782-3cab-0000-000000000000</groupId>
                        <id>73a20477-4cad-3891-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>e3a3270f-7265-37f9-84d2-cd2dd8833f75</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cef14b92-3849-3e8a-0000-000000000000</id>
                    <parentGroupId>62c25cd9-af46-3ff4-0000-000000000000</parentGroupId>
                    <versionedComponentId>95f1a939-f4f5-31d5-9cfd-a7b0e0d19821</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>60ba8bf2-e0b6-3d3f-0000-000000000000</groupId>
                        <id>0292f195-670d-3b7d-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>0456ebd6-cd72-3efe-a9ea-ac34628372a5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>cb50ddf8-b656-37e2-0000-000000000000</groupId>
                        <id>d1ef489a-0a90-358b-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>695e0f5c-425d-3506-b731-6b201c610499</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e2a1df30-8522-319f-0000-000000000000</id>
                    <parentGroupId>62c25cd9-af46-3ff4-0000-000000000000</parentGroupId>
                    <versionedComponentId>ba451a59-1eef-33da-b2fc-c08e1f5e6c11</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>384.0</x>
                        <y>688.0</y>
                    </bends>
                    <destination>
                        <groupId>62c25cd9-af46-3ff4-0000-000000000000</groupId>
                        <id>874e624c-4ceb-3127-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c6177d7a-144c-31bc-b126-8e009ab0c85d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>60ba8bf2-e0b6-3d3f-0000-000000000000</groupId>
                        <id>8313ce10-4656-3be5-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>db1c7af7-b5d5-3c9a-a760-8d7bdd6a46f5</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processGroups>
                    <id>147b62e3-b782-3cab-0000-000000000000</id>
                    <parentGroupId>62c25cd9-af46-3ff4-0000-000000000000</parentGroupId>
                    <position>
                        <x>456.0</x>
                        <y>-240.0</y>
                    </position>
                    <versionedComponentId>4a06728c-a432-3c49-baaa-5907a9da7f6d</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>2f7a025a-b7db-38cd-0000-000000000000</id>
                            <parentGroupId>147b62e3-b782-3cab-0000-000000000000</parentGroupId>
                            <versionedComponentId>613448c2-3dbd-3286-95d3-cd0b2f24de24</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>147b62e3-b782-3cab-0000-000000000000</groupId>
<id>c839efc0-7f50-3593-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>bcce5f15-8ad0-3d07-afb2-42d3940e8f7d</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>splits</selectedRelationships>
                            <source>
<groupId>147b62e3-b782-3cab-0000-000000000000</groupId>
<id>221994ee-be51-3e80-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fac05b44-7809-3346-a274-f82b6868a479</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9b9d361a-3270-3842-0000-000000000000</id>
                            <parentGroupId>147b62e3-b782-3cab-0000-000000000000</parentGroupId>
                            <versionedComponentId>b56f37cc-bc7e-32be-90e3-b471da918080</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>147b62e3-b782-3cab-0000-000000000000</groupId>
<id>221994ee-be51-3e80-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fac05b44-7809-3346-a274-f82b6868a479</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>147b62e3-b782-3cab-0000-000000000000</groupId>
<id>a0c82d3e-12d4-33f8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f1aabbac-fa3b-3333-b8d4-11afe6ae60bf</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9bac1b4d-8d4a-3c9c-0000-000000000000</id>
                            <parentGroupId>147b62e3-b782-3cab-0000-000000000000</parentGroupId>
                            <versionedComponentId>25944374-d983-3fc1-8941-4482b533f273</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>147b62e3-b782-3cab-0000-000000000000</groupId>
<id>73a20477-4cad-3891-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>e3a3270f-7265-37f9-84d2-cd2dd8833f75</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>147b62e3-b782-3cab-0000-000000000000</groupId>
<id>c839efc0-7f50-3593-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>bcce5f15-8ad0-3d07-afb2-42d3940e8f7d</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>73a20477-4cad-3891-0000-000000000000</id>
                            <parentGroupId>147b62e3-b782-3cab-0000-000000000000</parentGroupId>
                            <position>
<x>496.0</x>
<y>592.0</y>
                            </position>
                            <versionedComponentId>e3a3270f-7265-37f9-84d2-cd2dd8833f75</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Tweets</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>221994ee-be51-3e80-0000-000000000000</id>
                            <parentGroupId>147b62e3-b782-3cab-0000-000000000000</parentGroupId>
                            <position>
<x>444.000007681828</x>
<y>187.49998922324596</y>
                            </position>
                            <versionedComponentId>fac05b44-7809-3346-a274-f82b6868a479</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Byte Sequence Format</key>
        <value>
            <name>Byte Sequence Format</name>
        </value>
    </entry>
    <entry>
        <key>Byte Sequence</key>
        <value>
            <name>Byte Sequence</name>
        </value>
    </entry>
    <entry>
        <key>Keep Byte Sequence</key>
        <value>
            <name>Keep Byte Sequence</name>
        </value>
    </entry>
    <entry>
        <key>Byte Sequence Location</key>
        <value>
            <name>Byte Sequence Location</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Byte Sequence Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Byte Sequence</key>
        <value>
</value>
    </entry>
    <entry>
        <key>Keep Byte Sequence</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Byte Sequence Location</key>
        <value>Trailing</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitContent</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>splits</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitContent</type>
                        </processors>
                        <processors>
                            <id>a0c82d3e-12d4-33f8-0000-000000000000</id>
                            <parentGroupId>147b62e3-b782-3cab-0000-000000000000</parentGroupId>
                            <position>
<x>444.000007681828</x>
<y>-52.50001077675404</y>
                            </position>
                            <versionedComponentId>f1aabbac-fa3b-3333-b8d4-11afe6ae60bf</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command</key>
        <value>
            <name>Command</name>
        </value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Batch Duration</key>
        <value>
            <name>Batch Duration</name>
        </value>
    </entry>
    <entry>
        <key>Redirect Error Stream</key>
        <value>
            <name>Redirect Error Stream</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command</key>
        <value>python3</value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>/home/cint/esercitazione/twitter_stream_listener/twitter_stream_listener.py
CHANGEME
"(salvini OR renzi OR meloni OR letta OR ucraina OR putin OR zelenski OR zelensky OR zelenskyy) lang:it"</value>
    </entry>
    <entry>
        <key>Batch Duration</key>
        <value>5secs</value>
    </entry>
    <entry>
        <key>Redirect Error Stream</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>TwitterStreamListener</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteProcess</type>
                        </processors>
                        <processors>
                            <id>c839efc0-7f50-3593-0000-000000000000</id>
                            <parentGroupId>147b62e3-b782-3cab-0000-000000000000</parentGroupId>
                            <position>
<x>444.000007681828</x>
<y>387.49998922324596</y>
                            </position>
                            <versionedComponentId>bcce5f15-8ad0-3d07-afb2-42d3940e8f7d</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>filename</key>
        <value>
            <name>filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>filename</key>
        <value>tweet_${now():toNumber()}_${nextInt()}.json</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>TwitterStreamListenerProcessor</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>60ba8bf2-e0b6-3d3f-0000-000000000000</id>
                    <parentGroupId>62c25cd9-af46-3ff4-0000-000000000000</parentGroupId>
                    <position>
                        <x>448.022665440169</x>
                        <y>384.6691856425061</y>
                    </position>
                    <versionedComponentId>e72a0224-3c95-3d29-9960-327baf269234</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>040f8091-b4d1-359a-0000-000000000000</id>
                            <parentGroupId>60ba8bf2-e0b6-3d3f-0000-000000000000</parentGroupId>
                            <versionedComponentId>2ab5e3b1-9b37-3f61-b6f7-f07be5fe3404</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>60ba8bf2-e0b6-3d3f-0000-000000000000</groupId>
<id>1d9b1d90-c877-30ce-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>94b82408-fde9-34df-806e-51834bcf2b45</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>60ba8bf2-e0b6-3d3f-0000-000000000000</groupId>
<id>0292f195-670d-3b7d-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>0456ebd6-cd72-3efe-a9ea-ac34628372a5</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6136b772-e108-300e-0000-000000000000</id>
                            <parentGroupId>60ba8bf2-e0b6-3d3f-0000-000000000000</parentGroupId>
                            <versionedComponentId>2457a8e7-9bef-3151-9996-c166cef9d9d6</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>60ba8bf2-e0b6-3d3f-0000-000000000000</groupId>
<id>2780dc40-74e8-3774-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>345c3c7d-51eb-35f5-bf57-f34e72a79448</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>60ba8bf2-e0b6-3d3f-0000-000000000000</groupId>
<id>526933ae-ef20-3cbb-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>79b866ed-159c-37fb-8dcd-9037752286c5</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>dc3c8882-436d-3be3-0000-000000000000</id>
                            <parentGroupId>60ba8bf2-e0b6-3d3f-0000-000000000000</parentGroupId>
                            <versionedComponentId>0570436e-27be-375b-b9e1-cb9435a22147</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>60ba8bf2-e0b6-3d3f-0000-000000000000</groupId>
<id>526933ae-ef20-3cbb-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>79b866ed-159c-37fb-8dcd-9037752286c5</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>output stream</selectedRelationships>
                            <source>
<groupId>60ba8bf2-e0b6-3d3f-0000-000000000000</groupId>
<id>1d9b1d90-c877-30ce-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>94b82408-fde9-34df-806e-51834bcf2b45</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e55ef11c-0504-3753-0000-000000000000</id>
                            <parentGroupId>60ba8bf2-e0b6-3d3f-0000-000000000000</parentGroupId>
                            <versionedComponentId>b38d432f-09c2-380d-a489-b38a9904e249</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>548.8726196289062</x>
<y>988.5679321289062</y>
                            </bends>
                            <destination>
<groupId>60ba8bf2-e0b6-3d3f-0000-000000000000</groupId>
<id>8313ce10-4656-3be5-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>db1c7af7-b5d5-3c9a-a760-8d7bdd6a46f5</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>ContainsWebLink</selectedRelationships>
                            <source>
<groupId>60ba8bf2-e0b6-3d3f-0000-000000000000</groupId>
<id>2780dc40-74e8-3774-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>345c3c7d-51eb-35f5-bf57-f34e72a79448</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f0111982-eb2d-3011-0000-000000000000</id>
                            <parentGroupId>60ba8bf2-e0b6-3d3f-0000-000000000000</parentGroupId>
                            <versionedComponentId>d62d5dd5-4b51-3036-bd2f-4ba84b7f97d3</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>60ba8bf2-e0b6-3d3f-0000-000000000000</groupId>
<id>7af60fcb-0d5d-372d-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>62c1bcc7-79b4-3f2b-9525-968bbd1b2f70</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>NotContainsWebLink</selectedRelationships>
                            <source>
<groupId>60ba8bf2-e0b6-3d3f-0000-000000000000</groupId>
<id>2780dc40-74e8-3774-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>345c3c7d-51eb-35f5-bf57-f34e72a79448</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>0292f195-670d-3b7d-0000-000000000000</id>
                            <parentGroupId>60ba8bf2-e0b6-3d3f-0000-000000000000</parentGroupId>
                            <position>
<x>563.781695169343</x>
<y>174.78836519280276</y>
                            </position>
                            <versionedComponentId>0456ebd6-cd72-3efe-a9ea-ac34628372a5</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>InputTweets</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>7af60fcb-0d5d-372d-0000-000000000000</id>
                            <parentGroupId>60ba8bf2-e0b6-3d3f-0000-000000000000</parentGroupId>
                            <position>
<x>795.021894046261</x>
<y>1044.62817250646</y>
                            </position>
                            <versionedComponentId>62c1bcc7-79b4-3f2b-9525-968bbd1b2f70</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>WithoutWebLink</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <outputPorts>
                            <id>8313ce10-4656-3be5-0000-000000000000</id>
                            <parentGroupId>60ba8bf2-e0b6-3d3f-0000-000000000000</parentGroupId>
                            <position>
<x>360.0261054720422</x>
<y>1045.7188707486475</y>
                            </position>
                            <versionedComponentId>db1c7af7-b5d5-3c9a-a760-8d7bdd6a46f5</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>WithWebLink</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>1d9b1d90-c877-30ce-0000-000000000000</id>
                            <parentGroupId>60ba8bf2-e0b6-3d3f-0000-000000000000</parentGroupId>
                            <position>
<x>514.3696462323464</x>
<y>322.33470389376953</y>
                            </position>
                            <versionedComponentId>94b82408-fde9-34df-806e-51834bcf2b45</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>argumentsStrategy</key>
        <value>
            <name>argumentsStrategy</name>
        </value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>
            <name>Command Path</name>
        </value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>
            <name>Ignore STDIN</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
        <value>
            <name>Output Destination Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>
            <name>Max Attribute Length</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>argumentsStrategy</key>
        <value>Command Arguments Property</value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>/home/cint/esercitazione/nifi/Esercizio5/WebPageContentExtractor_v2.0.py</value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>python3</value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>;</value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>256</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>WebPageContentExtractor</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>nonzero status</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>output stream</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                        </processors>
                        <processors>
                            <id>2780dc40-74e8-3774-0000-000000000000</id>
                            <parentGroupId>60ba8bf2-e0b6-3d3f-0000-000000000000</parentGroupId>
                            <position>
<x>505.1693950823542</x>
<y>792.3286005385787</y>
                            </position>
                            <versionedComponentId>345c3c7d-51eb-35f5-bf57-f34e72a79448</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>ContainsWebLink</key>
        <value>
            <name>ContainsWebLink</name>
        </value>
    </entry>
    <entry>
        <key>NotContainsWebLink</key>
        <value>
            <name>NotContainsWebLink</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>ContainsWebLink</key>
        <value>${WebPageTitle:isEmpty():not()}</value>
    </entry>
    <entry>
        <key>NotContainsWebLink</key>
        <value>${WebPageTitle:isEmpty()}</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>RouteOnAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>ContainsWebLink</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>NotContainsWebLink</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                        <processors>
                            <id>526933ae-ef20-3cbb-0000-000000000000</id>
                            <parentGroupId>60ba8bf2-e0b6-3d3f-0000-000000000000</parentGroupId>
                            <position>
<x>510.7715887343402</x>
<y>572.6808476010102</y>
                            </position>
                            <versionedComponentId>79b866ed-159c-37fb-8dcd-9037752286c5</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>WebPageTitle</key>
        <value>
            <name>WebPageTitle</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>WebPageTitle</key>
        <value>$.webpage.title</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EvaluateJsonPath</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>EnrichByLinkedWebContent</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>cb50ddf8-b656-37e2-0000-000000000000</id>
                    <parentGroupId>62c25cd9-af46-3ff4-0000-000000000000</parentGroupId>
                    <position>
                        <x>444.43225405471276</x>
                        <y>54.59854367079197</y>
                    </position>
                    <versionedComponentId>353c068c-2a45-3939-a683-9942cdd13c30</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>44953ad6-8ca4-3273-0000-000000000000</id>
                            <parentGroupId>cb50ddf8-b656-37e2-0000-000000000000</parentGroupId>
                            <versionedComponentId>d8f6827e-8cd7-35ba-9efc-f7d1a5b65a00</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cb50ddf8-b656-37e2-0000-000000000000</groupId>
<id>efa05eda-f144-33f4-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>b087216d-80c8-3407-98fd-c5029867b3a0</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>PositiveSentiment</selectedRelationships>
                            <source>
<groupId>cb50ddf8-b656-37e2-0000-000000000000</groupId>
<id>07627833-3cdf-3671-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d8da96a0-cb4d-373e-8a99-fdad819a2cb8</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4d39e60e-4b0e-376b-0000-000000000000</id>
                            <parentGroupId>cb50ddf8-b656-37e2-0000-000000000000</parentGroupId>
                            <versionedComponentId>6704a050-ddc4-3d92-8b6e-1fa0a7ed51d0</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cb50ddf8-b656-37e2-0000-000000000000</groupId>
<id>07627833-3cdf-3671-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d8da96a0-cb4d-373e-8a99-fdad819a2cb8</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>cb50ddf8-b656-37e2-0000-000000000000</groupId>
<id>69da62ab-9817-378b-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>72082cd9-0b05-33c0-8142-60490e34fe8b</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7c7a4295-0b77-3024-0000-000000000000</id>
                            <parentGroupId>cb50ddf8-b656-37e2-0000-000000000000</parentGroupId>
                            <versionedComponentId>f7adffa8-1844-3e7d-b8e5-ac1f87068c7a</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cb50ddf8-b656-37e2-0000-000000000000</groupId>
<id>8894108f-e8b8-3e1b-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>8cd7ff38-c135-3ad4-9fdb-ef112d241f56</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>NegativeSentiment</selectedRelationships>
                            <source>
<groupId>cb50ddf8-b656-37e2-0000-000000000000</groupId>
<id>07627833-3cdf-3671-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d8da96a0-cb4d-373e-8a99-fdad819a2cb8</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>91ea481c-e587-3ffd-0000-000000000000</id>
                            <parentGroupId>cb50ddf8-b656-37e2-0000-000000000000</parentGroupId>
                            <versionedComponentId>a5b14200-539b-3580-986b-dba28c1f7e53</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cb50ddf8-b656-37e2-0000-000000000000</groupId>
<id>177347ed-23f5-37ce-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>5412ae40-1c87-3de8-a8f1-1ad45acd17dc</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>cb50ddf8-b656-37e2-0000-000000000000</groupId>
<id>ba7237e1-061e-31fd-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>05f9f85e-2f16-3021-8d29-c3cfaa2d9a87</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9640e971-75e1-3de7-0000-000000000000</id>
                            <parentGroupId>cb50ddf8-b656-37e2-0000-000000000000</parentGroupId>
                            <versionedComponentId>e57deb47-15be-34a6-9d4d-9edc1ca19150</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cb50ddf8-b656-37e2-0000-000000000000</groupId>
<id>69da62ab-9817-378b-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>72082cd9-0b05-33c0-8142-60490e34fe8b</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>output stream</selectedRelationships>
                            <source>
<groupId>cb50ddf8-b656-37e2-0000-000000000000</groupId>
<id>177347ed-23f5-37ce-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>5412ae40-1c87-3de8-a8f1-1ad45acd17dc</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a2d91cad-61b7-3c75-0000-000000000000</id>
                            <parentGroupId>cb50ddf8-b656-37e2-0000-000000000000</parentGroupId>
                            <versionedComponentId>87b3725e-461f-3a28-b3dc-2cb1939cccf2</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cb50ddf8-b656-37e2-0000-000000000000</groupId>
<id>d1ef489a-0a90-358b-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>695e0f5c-425d-3506-b731-6b201c610499</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>NeutralSentiment</selectedRelationships>
                            <source>
<groupId>cb50ddf8-b656-37e2-0000-000000000000</groupId>
<id>07627833-3cdf-3671-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d8da96a0-cb4d-373e-8a99-fdad819a2cb8</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>ba7237e1-061e-31fd-0000-000000000000</id>
                            <parentGroupId>cb50ddf8-b656-37e2-0000-000000000000</parentGroupId>
                            <position>
<x>548.7755305022093</x>
<y>151.7307889642547</y>
                            </position>
                            <versionedComponentId>05f9f85e-2f16-3021-8d29-c3cfaa2d9a87</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>InputTweets</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <labels>
                            <id>34a91ceb-0c4c-384f-0000-000000000000</id>
                            <parentGroupId>cb50ddf8-b656-37e2-0000-000000000000</parentGroupId>
                            <position>
<x>873.2614985946498</x>
<y>325.8673889474074</y>
                            </position>
                            <versionedComponentId>c646b9be-227e-32f2-8e77-4564400fe7e3</versionedComponentId>
                            <height>65.88664245605469</height>
                            <label>Calcola la polarit del tweet.</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>12px</value>
</entry>
                            </style>
                            <width>263.7830810546875</width>
                            <zIndex>0</zIndex>
                        </labels>
                        <outputPorts>
                            <id>8894108f-e8b8-3e1b-0000-000000000000</id>
                            <parentGroupId>cb50ddf8-b656-37e2-0000-000000000000</parentGroupId>
                            <position>
<x>195.81568445441496</x>
<y>1183.3360243445397</y>
                            </position>
                            <versionedComponentId>8cd7ff38-c135-3ad4-9fdb-ef112d241f56</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>NegativeSentiment</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <outputPorts>
                            <id>d1ef489a-0a90-358b-0000-000000000000</id>
                            <parentGroupId>cb50ddf8-b656-37e2-0000-000000000000</parentGroupId>
                            <position>
<x>620.3020736145712</x>
<y>1190.6880751257897</y>
                            </position>
                            <versionedComponentId>695e0f5c-425d-3506-b731-6b201c610499</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>NeutralSentiment</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <outputPorts>
                            <id>efa05eda-f144-33f4-0000-000000000000</id>
                            <parentGroupId>cb50ddf8-b656-37e2-0000-000000000000</parentGroupId>
                            <position>
<x>1011.0968123841025</x>
<y>1186.8096571570397</y>
                            </position>
                            <versionedComponentId>b087216d-80c8-3407-98fd-c5029867b3a0</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>PositiveSentiment</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>07627833-3cdf-3671-0000-000000000000</id>
                            <parentGroupId>cb50ddf8-b656-37e2-0000-000000000000</parentGroupId>
                            <position>
<x>485.7737651995417</x>
<y>766.1198603042037</y>
                            </position>
                            <versionedComponentId>d8da96a0-cb4d-373e-8a99-fdad819a2cb8</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>NegativeSentiment</key>
        <value>
            <name>NegativeSentiment</name>
        </value>
    </entry>
    <entry>
        <key>NeutralSentiment</key>
        <value>
            <name>NeutralSentiment</name>
        </value>
    </entry>
    <entry>
        <key>PositiveSentiment</key>
        <value>
            <name>PositiveSentiment</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>NegativeSentiment</key>
        <value>${tweetPolarity:toNumber():lt(0)}</value>
    </entry>
    <entry>
        <key>NeutralSentiment</key>
        <value>${tweetPolarity:toNumber():equals(0)}</value>
    </entry>
    <entry>
        <key>PositiveSentiment</key>
        <value>${tweetPolarity:toNumber():gt(0)}</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>RouteOnAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>NegativeSentiment</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>NeutralSentiment</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>PositiveSentiment</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                        <processors>
                            <id>177347ed-23f5-37ce-0000-000000000000</id>
                            <parentGroupId>cb50ddf8-b656-37e2-0000-000000000000</parentGroupId>
                            <position>
<x>489.36964623234644</x>
<y>297.33470389376953</y>
                            </position>
                            <versionedComponentId>5412ae40-1c87-3de8-a8f1-1ad45acd17dc</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>3</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>argumentsStrategy</key>
        <value>
            <name>argumentsStrategy</name>
        </value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>
            <name>Command Path</name>
        </value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>
            <name>Ignore STDIN</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
        <value>
            <name>Output Destination Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>
            <name>Max Attribute Length</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>argumentsStrategy</key>
        <value>Command Arguments Property</value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>/home/cint/esercitazione/nifi/Esercizio4/CheckPoliticians_v2.0.py</value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>python3</value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>;</value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>256</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>250</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EnrichSentimentForPoliticians</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>nonzero status</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>output stream</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                        </processors>
                        <processors>
                            <id>69da62ab-9817-378b-0000-000000000000</id>
                            <parentGroupId>cb50ddf8-b656-37e2-0000-000000000000</parentGroupId>
                            <position>
<x>485.7715887343402</x>
<y>547.6808476010102</y>
                            </position>
                            <versionedComponentId>72082cd9-0b05-33c0-8142-60490e34fe8b</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.16.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>tweetPolarity</key>
        <value>
            <name>tweetPolarity</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>tweetPolarity</key>
        <value>$.politicians.polarity</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EvaluateJsonPath</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>EnrichBySentiment</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>874e624c-4ceb-3127-0000-000000000000</id>
                    <parentGroupId>62c25cd9-af46-3ff4-0000-000000000000</parentGroupId>
                    <position>
                        <x>456.0</x>
                        <y>824.0</y>
                    </position>
                    <versionedComponentId>c6177d7a-144c-31bc-b126-8e009ab0c85d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-elasticsearch-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>elasticsearch-http-url</key>
<value>
    <name>elasticsearch-http-url</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-connect-timeout</key>
<value>
    <name>elasticsearch-http-connect-timeout</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-response-timeout</key>
<value>
    <name>elasticsearch-http-response-timeout</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-host</key>
<value>
    <name>elasticsearch-http-proxy-host</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-port</key>
<value>
    <name>elasticsearch-http-proxy-port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-username</key>
<value>
    <name>proxy-username</name>
</value>
                            </entry>
                            <entry>
<key>proxy-password</key>
<value>
    <name>proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>put-es-id-attr</key>
<value>
    <name>put-es-id-attr</name>
</value>
                            </entry>
                            <entry>
<key>put-es-index</key>
<value>
    <name>put-es-index</name>
</value>
                            </entry>
                            <entry>
<key>put-es-type</key>
<value>
    <name>put-es-type</name>
</value>
                            </entry>
                            <entry>
<key>put-es-batch-size</key>
<value>
    <name>put-es-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>put-es-index-op</key>
<value>
    <name>put-es-index-op</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>elasticsearch-http-url</key>
<value>http://es-container:9200</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-connect-timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-response-timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-host</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-port</key>
                            </entry>
                            <entry>
<key>proxy-username</key>
                            </entry>
                            <entry>
<key>proxy-password</key>
                            </entry>
                            <entry>
<key>put-es-id-attr</key>
                            </entry>
                            <entry>
<key>put-es-index</key>
<value>twitter_data</value>
                            </entry>
                            <entry>
<key>put-es-type</key>
<value>_doc</value>
                            </entry>
                            <entry>
<key>put-es-batch-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>put-es-index-op</key>
<value>index</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutElasticsearchHttp</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>TwitterForQueries</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>06/10/2022 12:41:44 GMT</timestamp>
</template>
